/* This is overall formatting. The * is a universal style selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Gives the entire page the light grey background */
body {
    background-color: #d9dcd6;
}

/* Header CSS */

.header {
    padding: 20px; /* Adds padding to entire header */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block; /* Puts <nav> next to header */
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6; /* Gives the 'seo' letters a slightly different color */
}

.header nav {
    padding-top: 15px; 
    margin-right: 20px;
    float: right; /* Puts <nav> to right side of screen */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none; /* Removes bullets from unordered list */
}

.header nav ul li {
    display: inline-block; /* Allows list to appear horizontally */
    margin-left: 25px; 
}

/* End Header CSS */

/* Anchor tags in unordered list; links to spot on existing webpage */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets font-size for all <p> tags */
p {
    font-size: 16px;
}

/* CSS for large image in center of page, under header */
.hero {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}

/* .float-left and .float-right place images in each <section> of <article> to the left or right of the text */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* CSS for <article> to use only 75% of the width of the page */
.content {
    width: 75%;
    display: inline-block; /* Allows <aside> to appear next to <article> */
    margin-left: 20px;
}

/* CSS for each <section> of <article> */
/* Gave each <section> of <article> the same class to condense CSS */
 .article-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.article-content img {
    max-height: 200px;
}

.article-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}    

/* CSS for <aside> to appear next to <article> using other 20% of the width of the page */
/* Margins and padding make up the other 5% of the width of the page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* CSS for the three <section> in <aside> */
/* Positions of the .png <img> <h3> and text alignment in <aside> */
/* Gave each <section> of <aside> the same class to condense CSS */
.right-side {
    margin-bottom: 32px;
    color: #ffffff;
}

.right-side h3 {
    margin-bottom: 10px;
    text-align: center;
}

.right-side img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* CSS for footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}